@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Latest Products</h1>



<table class="table">
   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>                   
                        <ul>
                            @Html.ActionLink(item.Title, "Details", "Products", new { Id = item.ProductId }, null)
                        </ul>                    
                </td>
             
            </tr>
        }
    </tbody>
</table>

